@{
    Layout = "~/Views/Shared/_OrderApp.cshtml";
    ViewData["Title"] = "KOT";
    ViewBag.Active = "Kot";
}

@model List<Pizzashop.DAL.ViewModels.KotTableviewmodel>

<link rel="stylesheet" href="~/css/KotTable.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div>
    <div class="d-flex justify-content-between ">
        <div class="d-flex justify-content-between">
            <h2 class="custom-blue fw-bold" style="color: #0066bb;">Table View</h2>
        </div>
        <div class=" d-flex justify-content-start justify-content-md-end align-items-center gap-3">
            <div class="d-flex gap-2 align-items-center">
                <span style="color: var(--table-available)"><i class="bi bi-circle-fill"></i></span>
                <span>Available</span>
            </div>

            <div class="d-flex gap-2 align-items-center">
                <span class="" style="color: var(--table-assigned)"><i class="bi bi-circle"></i></span>
                <span>Selected</span>
            </div>
            <div class="d-flex gap-2 align-items-center">
                <span style="color: var(--table-assigned)"><i class="bi bi-circle-fill"></i></span>
                <span>Assigned</span>
            </div>
            <div class="d-flex gap-2 align-items-center">
                <span class="" style="color: var(--table-running)"><i class="bi bi-circle-fill"></i></span>
                <span>Running</span>
            </div>
        </div>
    </div>

    <div class="mt-5" id="dining_table_container">

        @foreach (var i in Model)
        {
            <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <div class="accordion-header" data-section-id = "@i.SectionId" >
                        <div class="d-flex justify-content-between">
                            <button class="accordion-button d-flex justify-content-between" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@i.SectionId"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseOne-@i.SectionId">
                                <div class="d-flex align-items-center gap-4">
                                    <h4 class="custom-blue text-nowrap mt-1">@i.SectionName</h4>
                                </div>
                          </button>
                                <div class="d-flex justify-content-start justify-content-md-end align-items-center gap-3">
                                    <div class="d-flex gap-2 align-items-center"> 
                                       <span style="color: var(--table-available)" ><i class="bi bi-circle-fill"></i></span>
                                        <span style="color: var(--table-available)">
                                            @i.AvailableCount</span>
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                         <span style="color: var(--table-assigned)" ><i class="bi bi-circle-fill"></i></span>
                                        <span style="color: var(--table-assigned)">
                                            @i.AssignedCount
                                        </span>
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                       <span style="color: var(--table-running)" > <i class="bi bi-circle-fill"></i></span>
                                        <span style="color: var(--table-running)">
                                            @i.RunningCount</span>
                                    </div>
                                                                   

                                        <div class="custom-blue-border custom-blue p-2 d-flex align-items-center rounded text-nowrap"
                                            type="button" onclick="openWaitingTokenModal(this)" data-sectionid="@i.SectionId"   >
                                            <span class="py-2 px-3" 
                                                style="color: #0066bb; border-radius: 5px; border: 2px solid #0066bb !important; border-width: 2px;">+
                                                Waiting Token</span>
                                        </div>
                                </div>
                                   
                        </div>
                    </div>
                    <div id="panelsStayOpen-collapseOne-@i.SectionId" class="accordion-collapse collapse"
                        data-bs-parent="#accordionflush-@i.SectionId">
                        <div class="accordion-body">
                            <div class="accordion-body d-flex flex-wrap gap-3 justify-content-start align-items-center">
                                @foreach (var j in i.Tables)
                                {
                                    <div class="card p-3 d-flex flex-column gap-2" id="selectTable" 
                                    data-status = "@j.Status" data-table-id="@j.TableId"
                                        style="width: 270px;
                                @(j.Status == "Available" ? "background-color:var(--table-available-bg)" : j.Status == "Assigned" ? "background-color: var(--table-assigned-bg)" : j.Status == "Running" ? "background-color: var(--table-running-bg)" : "") ">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="fw-bolder">@j.Name</h4>
                                            @j.Status
                                            <span>200</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-column ">
                                                <span><i class="bi bi-people"></i></span>
                                                <span>@j.Capacity</span>
                                            </div>
                                            <div class="d-flex flex-column align-items-center">
                                                <span><i class="bi bi-stopwatch"></i></span>
                                                <span class="time-difference text-secondary fw-semibold"
                                                    data-datecounter="@j.AssignTime?.ToString("yyyy-MM-ddTHH:mm:ss")">
                                                    <span class="TableDatecountertext">

                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="d-flex justify-content-end p-2">
                                <button type="button" class="btn custom-btn-bg text-white assign-button" style="background-color: #0066bb;" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    Assign
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</div>


</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title custom-blue" id="offcanvasRightLabel">Waiting List</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
     <div id="waitinglist">
            
        </div>
    <div class="offcanvas-body">
        <h5 class="custom-blue">Customer Detail</h5>
        <form id="TableAssignForm" class="d-flex flex-column gap-3">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email </label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Name">
                <label for="floatingPassword">Name</label>
            </div>
            <div class="form-floating">
                <input type="Number" maxlength="10" class="form-control" id="floatingPassword" placeholder="Mobile No.">
                <label for="floatingPassword">Mobile</label>
            </div>

            <div class="d-flex justify-content-between gap-2 row">
                <div class="col">
                    <div class="form-floating ">
                    <input type="number" class="form-control" id="ItemRateForAdd" value="" placeholder="No. Of Person">
                    <label for="ItemRateForAdd">No. Of Person</label>
                    @* @ <span class="text-danger" asp-validation-for="Menuitem.Rate"></span> @ *@
                </div>
                </div>

                    <select class="form-select col" name="SectionId">
                    <option selected value="">Section</option>
                   @* @foreach (var c in Model)
                    {
                        
                        <option value=@c.SectionId>@c.SectionName</option>
                        
                    } *@
                </select>
      
                
               
            </div>
            <div class="d-flex justify-content-end gap-2">
                 <button type="submit" class="btn custom-btn-bg text-white" style="background-color: #0066bb;" >Assign
            </button>
            <button type="button" class="btn custom-blue-border" style="border:2px solid #0066bb; color: #0066bb;" >Cancel</button>
            </div>
           
        </form>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function DateTimerKOT() {
        $(".time-difference").each(function () {
            var orderdatestring = $(this).data("datecounter");
            var orderdate = new Date(orderdatestring).getTime();

            var current = new Date().getTime();

            var diff = current - orderdate;

            var days = Math.floor(diff / (1000 * 60 * 60 * 24));
            var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((diff % (1000 * 60)) / 1000);

            $(this).find(".TableDatecountertext").text(`${days}d ${hours}h ${minutes}m ${seconds}s`);
        });
    }

    DateTimerKOT();

    setInterval(DateTimerKOT, 1000);
</script>

<script>
    $(document).ready(function(){

        $('.btn[data-bs-target="#offcanvasRight"]').prop('disabled', true);


        $(document).on('click', '#selectTable', function () {
        var tableStatus = $(this).data('status');
        var tableId = $(this).data('table-id');


    if (tableStatus !== "Available") {
        return;
    }

    const isSelected = $(this).hasClass('selected');
    
    if (isSelected) {
        $(this).removeClass('selected');
        $(this).css({
            'background-color': 'var(--table-available-bg)',
            'border-color': ''
        });
    } else {
        $(this).addClass('selected');
        $(this).css({
            'background-color': 'white',
            'border-color': 'lightgreen'
        });
    }

    const parentSection = $(this).closest('.accordion-item'); 
    const anySelected = parentSection.find('#selectTable.selected').length > 0; 

    parentSection.find('.btn[data-bs-target="#offcanvasRight"]').prop('disabled', !anySelected);
});
    });

</script>

<script>
    
    @* $(document).on("click",".assign-button",function(){
        const selectTables = [];

        $("#selectTable.selected").each(function(){
            const tableId = $(this).data("table-id");
            const sectionId = $(this).closest('.accordion-item').find('.accordion-header').data('section-id');
            selectTables.push({
                TableId:tableId,
                sectionId:sectionId
            });
        });
        console.log("Selected Tables:", selectTables);

    });    *@

</script>    

<script>
    function openWaitingTokenModal(button){
    const sectionId = button.getAttribute('data-sectionid');
    @* const modal = new bootstrap.Modal(document.getElementById('waitingtokenmodal')); *@

    

    @* modal.show(); *@
        $.ajax({
            type: "GET",
            url: '@Url.Action("openWaitingTokenModal", "KotTable")',
            success : function(data){
                console.log("Data from server:", data);
                $('#waitingtokenmodal .modal-content').html(data);
                $("#sectionwaitingtoken").val(sectionId);
                @* $("#sectionwaitingtokenHidden").val(sectionId);  *@
                console.log("Selected Section ID:", sectionId);
                $('#waitingtokenmodal').modal('show');
            }
        })
    }
</script>


<div class="modal fade" id="waitingtokenmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

    </div>
    
  </div>
</div>

<script>
  
   $(document).ready(function () {
    $(document).on('submit','#addWaitingTokenForm', function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Create a FormData object from the form
        var formData = new FormData(this); // Ensure 'this' refers to the form

        console.log("Form data:", formData);

        $.ajax({
            url: '@Url.Action("AddWaitingToken", "KotTable")',
            type: 'POST',
            processData: false, 
            contentType: false,
            data: formData,
            success: function (response) {
                if (response.success) {
                    toastr.success("Waiting Token Added Succesfully");
                    $('#waitingtokenmodal').modal('hide');
                } else {
                    alert('Error: ' + response.message);
                }
            },
            error: function () {
                alert('An error occurred while adding the waiting token.');
            }
        });
    });
});

</script> 

<script>
        $(document).off("click",".assign-button").on("click" , ".assign-button" , function(e){
            e.preventDefault();
            $.ajax({
            type: "GET",
            url: "/KotTable/GetWaitingList",
            success: function(data){
            console.log("Data from server:", data);
            console.log("vansho")
            $('#waitinglist').html(data);
            }
        });
        });
        
    
</script>