
@model Pizzashop.DAL.ViewModels.OrderCardviewmodel

<style>
    .quantity-input::-webkit-outer-spin-button,
    .quantity-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .quantity-input {
        -moz-appearance: textfield;
    }
</style>

<!-- Bootstrap Change Quantity Modal -->
<div class="modal fade" id="changeQuantityModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="orderid" data-orderid="@Model.OrderID">Order ID: #@Model.OrderNo</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="modal-body" method="post">
                <input type="text" asp-for="@Model.OrderID">
                <input type="text" name="OrderStatus" value="@ViewBag.OrderStatus" />

                <table class="table">
                    <thead>
                        <tr class="opacity-75">
                            <th class="text-start">Item</th>
                            <th class="text-end">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ItemList != null)
                        {
                            @for (int i = 0; i < Model.ItemList.Count; i++)
                            {
                                <tr>
                                    <td class="text-start">
                                        <input type="checkbox" class="me-1" data-item-id="@Model.ItemList[i].ItemId">
                                        <span class="fw-bold fs-6">@Model.ItemList[i].ItemName</span>
                                        <ul>
                                            @if (Model.ItemList[i].ModifierList != null)
                                            {
                                                @foreach (var mod in Model.ItemList[i].ModifierList)
                                                {
                                                    <li>@mod.ModifierName</li>
                                                }
                                            }
                                        </ul>
                                    </td>
                                    <td class="text-end align-middle">
                                        <div class="border text-end ms-auto align-middle align-self-center" style="width: fit-content;">
                                            <button type="button" class="btn btn-sm" onclick="changeQuantity(@Model.ItemList[i].ItemId, 'decrement', this)">-</button>
                                            <span id="quantity-@Model.ItemList[i].ItemId" data-quantity="@Model.ItemList[i].PendigQuantity" 
                                            data-quantity1="@Model.ItemList[i].ReadyQuantity" class="orderstatus" data-orderstatus="@Model.OrderStatus">
                                                @if (Model.OrderStatus == "In Progress")
                                                {
                                                    if (Model.ItemList[i].PendigQuantity > 0)
                                                    {
                                                        @Model.ItemList[i].PendigQuantity
                                                    }
                                                    else if (Model.ItemList[i].ReadyQuantity > 0)
                                                    {
                                                        @Model.ItemList[i].ReadyQuantity
                                                    }
                                                }
                                                else if (Model.OrderStatus == "Ready")
                                                {
                                                    if (Model.ItemList[i].ReadyQuantity > 0)
                                                    {
                                                        @Model.ItemList[i].ReadyQuantity
                                                    }
                                                    else if (Model.ItemList[i].PendigQuantity > 0)
                                                    {
                                                        @Model.ItemList[i].PendigQuantity
                                                    }
                                                }
                                            </span>
                                            <button type="button" class="btn btn-sm" onclick="changeQuantity(@Model.ItemList[i].ItemId, 'increment', this)">+</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>                                                     

                <div class="d-flex justify-content-end gap-2 mb-2 me-2">
                    <button type="submit" id="submit-quantity" class="inprogress-ready-btn active-btn">
                        @if (ViewBag.OrderStatus == "In Progress")
                        {
                            <span>Marked As Ready</span>
                        }
                        else
                        {
                            <span>Marked As In Progress</span>
                        }
                    </button>
                    <button type="button" class="inprogress-ready-btn bg-white" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>                                                                                                               


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    function changeQuantity(itemId, action, button) {
        var quantityElement = document.getElementById(`quantity-${itemId}`);
        var currentQuantity = parseInt(quantityElement.innerText);
        var maxQuantity = parseInt(quantityElement.getAttribute("data-quantity")); 
        var maxQuantity1 = parseInt(quantityElement.getAttribute("data-quantity1"));
        var orderstatus = quantityElement.getAttribute("data-orderstatus");

        if (action === 'increment') {
            if( orderstatus == "In Progress" && currentQuantity < maxQuantity) {
                currentQuantity++;
            } 
            else if (orderstatus == "Ready" && currentQuantity < maxQuantity1) {
                currentQuantity++;
            }
        } else if (action === 'decrement') {
            if (currentQuantity > 0) {
                currentQuantity--;
            }
        }

        quantityElement.innerText = currentQuantity

    }

       $(document).on("click","#submit-quantity",function(){
        var updates = [];

        $("input[type=checkbox]:checked").each(function () {
            var itemId = $(this).data("item-id");
            console.log("ItemId:",itemId);
            var quantityElement = document.getElementById(`quantity-${itemId}`);
            var quantity = parseInt(quantityElement.innerText);
            console.log("Quantity:",quantity);
            
            updates.push({
                itemId: itemId,
                quantity: quantity,
            });
        });

        var orderid = $('#orderid').data("orderid");
        console.log("OrdersIds:",orderid);
        var status = $('.orderstatus').data("orderstatus");

            $.ajax({
                url:'@Url.Action("updateQuantity", "Kot")',
                type: 'POST',
                data: {
                   orderId:orderid,
                   status: status,
                   updates: updates
                },  
                success: function (response) {
                    console.log("Quantity updated successfully");
                    toastr.success("Item updated successfully");
                },
                error: function (xhr, status, error) {
                    console.error("Error updating quantity:", error);
                }
            })
        });

</script>
