@{
    Layout = "~/Views/Shared/_OrderApp.cshtml";
    ViewData["Title"] = "KOT";
    ViewBag.Active = "Kot";
}

@model Pizzashop.DAL.ViewModels.Kotviewmodel

<link rel="stylesheet" href="~/css/Kot.css" asp-append-version="true" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<div class="kot-container" style="padding: 50px !important;">

    <!-- KOT -->
    <div class="row px-0 d-flex justify-content-between mb-2">
        <div class="col-sm-1 d-flex fs-2 fw-bold special-color">KOT</div>
    </div>

    <!-- Item Tab -->
    <div class="row border rounded kot-list-tab bg-white">
        <div class="d-flex nav kot-nav" id="nav-tab" role="tablist">
            <button class="nav-link tab-btn active-tab d-flex align-items-center" id="all-content" data-tab-id="0">
                <div>All</div>
            </button>

            @foreach (var tab in Model.Categories)
            {
                <button class="nav-link tab-btn d-flex align-items-center tab-category" data-category-name="@tab.Name"
                    category-id="@tab.Categoryid" data-tab-id="@tab.Categoryid">
                    <div class="text-nowrap">@tab.Name</div>
                </button>
            }

        </div>
    </div>

    <div class="row kot-list-tab bg-white rounded" style="z-index: 1000;">
        <div class="tab-content mt-3">
            <!-- All Content -->
            <div class="tab-pane" id="content-0" style="display: block;">
                <div class="d-flex justify-content-between mb-3">
                    <h3 style="color: #0066A7;" id="activecategoryName">All </h3>
                    <div class="d-flex gap-2">
                        <a id="inProgressBtn" class="inprogress-ready-btn tab-btn-content active-content"
                            style=" text-decoration: none;">
                            In Progress
                        </a>
                        <a id="readyBtn" class="inprogress-ready-btn tab-btn-content" style="text-decoration: none;">
                            Ready
                        </a>
                        <button class="btn light-btn next-back-btn leftKOTBtn">
                            < </button>
                                <button class="btn light-btn next-back-btn rightKOTBtn">
                                    >
                                </button>
                    </div>
                </div>

                <div class="KOT-Card-List-Container KOT-Item-container">
                    <div class="card-wrapper d-flex gap-2 " id="cardWrapper">

                    </div>

                </div>

            </div>

            <!-- Dynamic Content for Each Category -->


        </div>
    </div>


    <!-- Content Section -->

</div>

@* change Quantity Modal *@
<div id="changeQuanityModalContainer">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@section Scripts {


    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withAutomaticReconnect()
            .withUrl("http://localhost:5167/NotificationHub")
            .build();

        connection.start()
            .then(function () {
                console.log("SignalR Connected.");
            })
            .catch(function (err) {
                console.error(err.toString());
            });

        connection.on("KotMessage", function (message) {
            console.log("Received message: " + message);
            loaddata();
        });

        connection.on("KotUpdatedMessage", function (message) {
            console.log("Received message: " + message);
            loaddata();
        });

    </script>

    <script>
        $(document).on("click", "#all-content", function () {
            loaddata();
            $(".tab-btn").removeClass("active-tab");
            $(this).addClass("active-tab");
        });

    </script>

    <script>
        function DateTimerKOT() {
            $(".time-difference").each(function () {
                var orderdatestring = $(this).data("datecounter");

                var orderdate = new Date(orderdatestring).getTime();

                var current = new Date().getTime();

                var diff = current - orderdate;

                var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((diff % (1000 * 60)) / 1000);

                $(this).find(".kotDatecountertext").text(`${days}d ${hours}h ${minutes}m ${seconds}s`);
            });
        }

        DateTimerKOT();

        setInterval(DateTimerKOT, 1000);
    </script>

    <script>

        let currentSlide = 0;
        const cardsToShow = 1;
        const cardWidth = 220;


        $(document).off("click", ".rightKOTBtn").on("click", ".rightKOTBtn", function () {
            $(".KOT-Item-container").animate({
                scrollLeft: $(".KOT-Item-container").scrollLeft() + 500
            }, 500);
        });

        $(document).off("click", ".leftKOTBtn").on("click", ".leftKOTBtn", function () {
            $(".KOT-Item-container").animate({
                scrollLeft: $(".KOT-Item-container").scrollLeft() - 500
            }, 500);
        });

    </script>

    <script>
        $(document).ready(function () {
            loaddata();
        });
    </script>

    <script>
        function loaddata() {
            $("#activecategoryName").text("All");
            $.ajax({
                url: "/Kot/KotData",
                type: "GET",
                data: { status: "In Progress", categoryId: 0 },
                dataType: "html",
                success: function (data) {
                    console.log("Response:", data);
                    $('#cardWrapper').html(data);
                    DateTimerKOT();

                },
                error: function (xhr, status, error) {
                    console.error("Error loading modal:", error);
                }
            });
        }
    </script>

    <script>
        $(document).on("click", "#inProgressBtn", function () {
            const categoryid = $('.active-tab').attr('category-id');
            console.log("categoryid:", categoryid);

            $.ajax({
                url: "/Kot/KotData",
                type: "GET",
                data: { status: "In Progress", categoryId: categoryid },
                dataType: "html",
                success: function (data) {
                    $('#cardWrapper').html(data);
                    document.querySelectorAll(".tab-btn-content").forEach(tab => {
                        tab.classList.remove("active-content");
                    });
                    $(this).addClass("active-content");
                }.bind(this),
                error: function (xhr, status, error) {
                    console.error("Error loading modal:", error);
                }
            });
        });
    </script>
    <script>
        $(document).on("click", "#readyBtn", function () {
            const categoryid = $('.active-tab').attr('category-id');
            console.log("categoryid:", categoryid);
            $.ajax({
                url: "/Kot/KotData",
                type: "GET",
                data: { status: "Ready", categoryId: categoryid },
                dataType: "html",
                success: function (data) {
                    $('#cardWrapper').html(data);
                    document.querySelectorAll(".tab-btn-content").forEach(tab => {
                        tab.classList.remove("active-content");
                    });
                    $(this).addClass("active-content");
                }.bind(this),
                error: function (xhr, status, error) {
                    console.error("Error loading modal:", error);
                }
            });
        })

    </script>

    <script>
        $(document).on("click", ".tab-category", function () {
            var id = $(this).data("tab-id");
            var categoryname = $(this).data("category-name");

            $("#activecategoryName").text(categoryname ? categoryname : "All");

            console.log("id:", id);
            $.ajax({
                url: "/Kot/KotData",
                type: "GET",
                data: { status: "In Progress", categoryId: id },
                dataType: "html",
                success: function (data) {
                    $('#cardWrapper').html(data);
                    document.querySelectorAll(".tab-btn").forEach(tab => {
                        tab.classList.remove("active-tab");
                    });
                    $(this).addClass("active-tab");
                }.bind(this),
                error: function (xhr, status, error) {
                    console.error("Error loading modal:", error);
                }
            });
        })
    </script>

    <script>
        $(document).on("click", "#order-card", function () {
            var orderid = $(this).data("orderid");
            var status = $(this).data("status");
            var categoryid = $(this).data("categoryid");
            console.log("categoryid",categoryid);

            console.log("OrdersIds:", orderid);

            $.ajax({
                url: '@Url.Action("ChangeQuantityModal", "Kot")',
                type: 'GET',
                data: { id: orderid, status: status , CategoryId : categoryid },
                dataType: "html",
                success: function (data) {
                    $('#changeQuanityModalContainer').html(data);
                    $('#changeQuantityModal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("Error loading modal:", error);
                }
            });
        });

    </script>



}

<style>
    .active-tab {
        color: #0066bb !important;
        border-bottom: 3px solid #0066a7 !important;
    }

    .active-content {
        color: white !important;
        background-color: #0066a7 !important;
    }
</style>