 @model Pizzashop.DAL.ViewModels.waitingtokenviewmodel

 
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Waiting Token</h1>
        <button type="button" class="btn-close add-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form id="addWaitingTokenForm" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            <div class="form-floating">
                <input type="email" class="form-control" id="CustomerEmail" placeholder="name@example.com" asp-for ="@Model.Email" >
                <label for="floatingInput">Email </label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Name" asp-for="@Model.Name">
                <label for="floatingPassword">Name</label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="Number" maxlength="10" class="form-control" id="floatingPassword" placeholder="Mobile No." asp-for="@Model.Phone">
                <label for="floatingPassword">Mobile</label>
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between gap-0 row">
                <div class="col">
                    <div class="form-floating ">
                    <input type="number" class="form-control" id="ItemRateForAdd" value="" placeholder="No. Of Person" asp-for="@Model.NoOfPerson">
                    <label for="ItemRateForAdd">No. Of Person</label>
                    <span asp-validation-for="@Model.NoOfPerson" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @* <input type="hidden" id="sectionwaitingtokenHidden" name="" asp-for="@Model.sectionId"> *@
                    <div class="form-floating ">
                    <select class="form-select" id="sectionwaitingtoken" asp-for="@Model.sectionId">
                    <option selected value="">Section</option>
                     @foreach (var c in Model.sections)
                    {                
                        <option value="@c.Sectionid">@c.SectionName</option>     
                    }
                </select>
                <label for="SectionId">Section</label>
                    </div>
                    
                </div>
                
  
            </div>
   
      <div class="d-flex justify-content-end gap-2">
        <button type="submit" style="background-color: #0066bb; color: white; " class="btn custom-btn-bg text-blue">Save</button>
        <button type="button" style=" border-color: #0066bb; border-width: 2px !important; color: #0066bb; "  class=" btn custom-blue-border add-close" data-bs-dismiss="modal">Cancel</button>
      </div>
        </form>
      </div>
      

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>