@using BAL.Interfaces
@using BAL.Models.Interfaces
@using BAL.Services
@using Microsoft.AspNetCore.Authorization
@using Pizzashop.DAL.ViewModels
@inject IAuthorizationService AuthorizationService
@inject IPermissions PermissionService
@inject IUserroleService UserRoleService
@inject ITokenService TokenService
@inject IHttpContextAccessor HttpContext

@{
  var canViewUsers = await PermissionService.HasPermission("Users", ActionPermissions.CanView);
  var canViewMenu = await PermissionService.HasPermission("Menu", ActionPermissions.CanView);
  var canViewTables = await PermissionService.HasPermission("TableAndSection", ActionPermissions.CanView);
  var canViewOrders = await PermissionService.HasPermission("Order", ActionPermissions.CanView);
  var canViewTaxes = await PermissionService.HasPermission("TaxAndFee", ActionPermissions.CanView);
  var canViewCustomers = await PermissionService.HasPermission("Customer", ActionPermissions.CanView);
  var isacccountmanager = await UserRoleService.IsUserInRoleAsync("Account_Manager");
  var token = HttpContext.HttpContext.Request.Cookies["jwtToken"];
  var profile = TokenService.GetImageUrlFromToken(token);
  var userrole = TokenService.GetRoleFromToken(token);
  Console.WriteLine("userrole:",userrole);
}


<!DOCTYPE html>
<html lang="en"  >

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - PizzaShop</title>

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="d-flex">
    <aside class="d-lg-block d-none">
      <div class="div vh-100 bg-white" style="width: 250px;">
        <div class="d-flex gap-2 pt-3 mb-2 align-items-center justify-content-start px-4">
          <img src="~/images/logos/pizzashop_logo.png" style="height: 50px;" alt="">
          <h5 style="color: #0066bb;">PIZZASHOP</h5>
        </div>
        <div class="gap-5 mt-3" style="margin-top: 30px !important;">
          <div class="aa">
            <a asp-controller="Home" asp-action="Index"
              class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
              <img style="height: 25px;" src="~/images/dashboard-default.svg">
              <div>Dashboard</div>
            </a>
          </div>
          @if (canViewUsers)
          {
            <div class="aa">
              <a asp-controller="User" asp-action="UserList" id="sidebar-user-field"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "User" && ViewContext.RouteData.Values["action"].ToString() == "UserList" ? "active" : "")"
                style="">
                <img style="height: 25px;" src="~/images/icons/person.svg">
                <div>Users</div>
              </a>
            </div>
          }

          <div class="aa">
            <a asp-controller="RolesAndPermissions" asp-action="Roles"
              class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "RolesAndPermissions" && ViewContext.RouteData.Values["action"].ToString() == "Roles" ? "active" : "")">
              <img style="height: 25px;" src="~/images/icons/person-gear.svg">
              <div>Role and Permission</div>
            </a>
          </div>
          @if (canViewMenu)
          {
            <div class="aa">
              <a asp-controller="Menu" asp-action="Items"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "Menu" && ViewContext.RouteData.Values["action"].ToString() == "Items" ? "active" : "")">
                <img style="height: 25px;" src="~/images/icons/menu-up.svg">
                <div>Menu</div>
              </a>
            </div>
          }
          @if (canViewTables)
          {
            <div class="aa">
              <a asp-controller="Table" asp-action="Table"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "Table" && ViewContext.RouteData.Values["action"].ToString() == "Table" ? "active" : "")">
                <img style="height: 25px;" src="~/images/icons/square-fill.svg">
                <div>Table And Section</div>
              </a>
            </div>
          }
          @if (canViewTaxes)
          {
            <div class="aa">
              <a asp-controller="TaxesAndFees" asp-action="TaxesAndFees"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "TaxesAndFees" && ViewContext.RouteData.Values["action"].ToString() == "TaxesAndFees" ? "active" : "")">
                <img style="height: 25px;" src="~/images/icons/currency-rupee.svg">
                <div>Taxes and Fees</div>
              </a>
            </div>
          }
          @if (canViewOrders)
          {
            <div class="aa">
              <a asp-controller="Order" asp-action="Order"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "Order" && ViewContext.RouteData.Values["action"].ToString() == "Order" ? "active" : "")">
                <img style="height: 25px;" src="~/images/icons/bag-check.svg">
                <div>Orders</div>
              </a>
            </div>
          }
          @if (canViewCustomers)
          {
            <div class="aa">
              <a asp-controller="Customer" asp-action="Customer"
                class="sidebar-tile @(ViewContext.RouteData.Values["controller"].ToString() == "Customer" && ViewContext.RouteData.Values["action"].ToString() == "Customer" ? "active" : "")">
                <img style="height: 25px;" src="~/images/icons/customer.svg">
                <div>Customers</div>
              </a>
            </div>
          }
        </div>
      </div>
    </aside>

    <style>
      .sidebar-tile {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 1.2rem;
        align-items: center;
        text-decoration: none;
        color: inherit;

      }


      .sidebar-tile:hover {
        background-color: rgb(244, 244, 244);
      }

      .sidebar-tile.active {
        background-color: rgb(244, 244, 244);
      }

      .sidebar-tile.active div {
        color: #0066bb;
      }

      .sidebar-tile.active img {
        height: 35px;
        filter: brightness(0) saturate(100%) invert(21%) sepia(97%) saturate(595%) hue-rotate(178deg) brightness(100%) contrast(97%);
      }

      .sidebar-tile img {
        height: 25px;
        transition: height 0.3s ease, filter 0.3s ease;
      }

      .sidebar-tile div {
        color: black;
      }

      .aa a {
        text-decoration: none;
        color: black;
      }

      .sidebar-tile:hover img {
        height: 35px;
        filter: brightness(0) saturate(100%) invert(21%) sepia(97%) saturate(595%) hue-rotate(178deg) brightness(100%) contrast(97%);
      }

      .sidebar-tile:hover div {
        color: #0066bb;
      }


      .aa {
        margin-bottom: 0.5rem;
      }

      .aa a {
        text-decoration: none;
        color: inherit;
      }

      .aa a.active {
        background-color: #e9ecef;
      }

      .aa img {
        height: 25px;
      }
    </style>

    <div class="w-100 bg-light">
      <nav class="navbar mb-3 bg-c">
        <div class="w-100 d-flex justify-content-between ms-2">
          <button class="btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
            aria-controls="offcanvasMenu">
            <img src="~/images/icons/menu-symbol-of-three-parallel-lines-svgrepo-com.svg" style="height: 25px;" alt="">
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                <aside class="d-lg-block d-md-block">
                  <div class="div vh-100 bg-white" style="width: 250px;">
                    <div class="d-flex gap-2 pt-3 ps-2 mb-2 align-items-center justify-content-center">
                      <img src="~/images/logos/pizzashop_logo.png" style="height: 50px;" alt="">
                      <h6 style="color: #57b9ff;">PIZZASHOP</h6>
                    </div>
                    <div class="gap-5">
                      <div class="aa">
                        <a asp-controller="Home" asp-action="Index" class="d-flex gap-1 pt-2 pb-2 ps-3 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/dashboard-default.svg">
                          <div>Dashboard</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="User" asp-action="UserList"
                          class="d-flex gap-1 ps-3 pt-2 pb-2 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/person.svg">
                          <div>Users</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="RolesAndPermissions" asp-action="Roles"
                          class="d-flex gap-1 pt-2 pb-2 ps-3 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/person-gear.svg">
                          <div>Role and Permission</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="Menu" asp-action="Items"
                          class="d-flex pt-2 pb-2 ps-3 gap-1 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/menu-up.svg">
                          <div>Menu</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="Table" asp-action="Table"
                          class="d-flex pt-2 pb-2 ps-3 gap-1 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/square-fill.svg">
                          <div>Table And Section</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="TaxesAndFees" asp-action="TaxesAndFees"
                          class="d-flex pt-2 pb-2 ps-3 gap-1 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/currency-rupee.svg">
                          <div>Taxes and Fees</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="Order" asp-action="Order"
                          class="d-flex pt-2 pb-2 ps-3 gap-1 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/bag-check.svg">
                          <div>Orders</div>
                        </a>
                      </div>
                      <div class="aa">
                        <a asp-controller="Customer" asp-action="Customer"
                          class="d-flex pt-2 pb-2 ps-3 nav-link active align-items-center">
                          <img style="height: 25px;" src="~/images/icons/customer.svg">
                          <div>Customers</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </aside>
              </div>
            </div>
          </div>

          @if (isacccountmanager)
          {
            <button onclick="fetchOrder()" class="btn d-flex justify-content-end"
              style="border: none; background: transparent;" data-bs-toggle="dropdown" aria-expanded="false">
              <img style="height:30px !important;" src="~/images/icons/phone.svg" alt="Phone Icon">
            </button>
          }
          <div class="container-fluid d-flex justify-content-end">
            <button class="btn" style="border: none; background: transparent;" data-bs-toggle="dropdown"
              aria-expanded="false">
                <img style="height: 35px; border-radius: 50%;" src="@(!string.IsNullOrEmpty(profile)? profile : "~/images/Default_pfp.svg.png")" alt="Profile Picture">
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item d-flex align-items-center gap-1" href="/Profile/MyProfile">
                <img style="height: 25px;  border-radius: 50%;" src="@(!string.IsNullOrEmpty(profile)? profile : "~/images/Default_pfp.svg.png")"> My profile</a>
              <a class="dropdown-item d-flex align-items-center gap-1" href="/Profile/ChangePassword">
                <img style="height: 25px;" src="~/images/icons/arrow-clockwise.svg"> Change Password
              </a>
              <a class="dropdown-item d-flex gap-1" data-bs-target="#exampleModal" data-bs-toggle="modal">
                <img style="height: 25px;" src="~/images/icons/box-arrow-right.svg">Log Out
              </a>
            </div>
          </div>
        </div>
      </nav>
      @RenderBody()
    </div>
  </div>

  <script src="~/js/site.js" asp-append-version="true"></script>
  @await Component.InvokeAsync("Notyf")
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center flex-column">
        <img class="" src="images/icons/exclamation-triangle.svg" alt="">
        <h1 class="fs-5">Are You Sure you want to Logout</h1>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a asp-controller="Profile" class="btn btn-primary" asp-action="Logout">Yes</a>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>

  function fetchOrder() {
    window.location.href = "/Kot/Kot";
  }

</script>