@model Pizzashop.DAL.ViewModels.OrderAppMenuviewmodel

@if (Model.items.Any())
{
@foreach (var item in Model.items)
{
    <div class="item-card position-relative ">
        <div class="row">
            <div class="col-3">
                <div class="card-icon d-flex justify-content-center align-items-center">
                    <span>
                        <img src="~/images/dining-menu.png" style="height: 40px; width: 40px" />
                    </span>
                </div>
            </div>
            <div class="col-9">
                <div class="card-content item-modifeir-class" data-itemid="@item.ItemId" data-globaid = "@item."
                data-itemname="@item.ItemName" data-itemprice="@item.price" data-modfierTotalAmount="@item.TotalModifierAmount" data-itemtax = "@item.ItemTax"> 
                    <h5 class="card-title text-start">@item.ItemName</h5>
                    <p class="card-text text-start " id="item-price-@item.ItemId">₹@item.price</p>
                </div>

                <!-- Item Type Badge -->
                @if (item.ItemType == "veg")
                {
                     <div class="corner-ribbon ribbon-green"></div>
                }
                else if (item.ItemType == "non-veg")
                {
                    <div class="corner-ribbon ribbon-red"></div>
                }

                <!-- Heart Icon -->
                <div>
                @if (item.isFavourite == true)
                {
                    <span data-itemid="@item.ItemId" class="heart position-absolute bottom-0 end-0 m-2 bi-heart-fill"></span>
                }
                else
                {
                    <span data-itemid="@item.ItemId" class="heart position-absolute bottom-0 end-0 m-2 bi-heart"></span>
                }
                </div>
            </div>
        </div>
    </div>
}
}
else
{
      <p class="text-muted">No items found.</p>
}

    