@{
    var sectionName = new HashSet<string>();
    bool first = true;
    var tableName = new HashSet<string>();

}

@model Pizzashop.DAL.ViewModels.OrderAppMenuviewmodel


<span id="bill-content">

<div class="mt-4 order-app-module">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <img src="~/images/icons/dining-set-svgrepo-com.svg" alt="" class="dining-table-img">
            <div>
                <div class="">
                    @foreach (var s in Model.tables)
                    {
                        if (!sectionName.Contains(s.sectionName))
                        {
                            if (!first)
                            {
                                <span> ,</span>
                            }
                            <span class="" style="font-size: 15px !important;">@s.sectionName</span>
                            sectionName.Add(s.sectionName);
                            first = false;
                        }
                    }
                </div>
                <div class="">
                    <span class="fw-bold" style="font-size: 15px !important;">Table:</span>
                    @foreach (var t in Model.tables)
                    {
                        if (!tableName.Contains(t.TableName))
                        {
                            if (first)
                            {
                                <span> ,</span>
                            }

                            <span style="font-size: 15px !important;"> @t.TableName</span>
                            tableName.Add(t.TableName);
                            first = true;
                        }
                    }
                </div>
            </div>
        </div>
        <div class="d-flex gap-2">
            <div class="threeicon align-content-center" data-orderid="@Model.OrderId" data-customerid="@Model.CustomerId" id="qrcode">
                <i class="bi bi-qr-code-scan icontext m-0 p-0"></i>
            </div>
            <div class="threeicon align-content-center CustomerIcon" data-orderid="@Model.OrderId">
                <i class="bi bi-person-lines-fill icontext fw-bold m-0 p-0"></i>
            </div>
            <div class="threeicon align-content-center ordercomment" data-orderid="@Model.OrderId">
                <i class="bi bi-chat-left-text icontext m-0 p-0"></i>
            </div>
        </div>
    </div>
    <div id="item-rows-container" class="d-flex flex-column gap-2 mt-4 nothing-added">
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start ps-2">
                <span style="opacity: 0.8;">Item</span>
            </div>
            <div class="d-flex quantity-price" >
                <span style="opacity: 0.8;">Quantity</span>
                <span style="opacity: 0.8;">Amount</span>
            </div>

        </div>
        <div class="d-flex flex-column gap-2 mb-2" style="max-height: 150px !important; overflow-y: auto; " >
            <div id="itemdata" class="mt-2" >
                @foreach (var item in Model.orderitems)
                {
                    <div class="item-row w-100 py-1 px-2 d-flex align-items-center justify-content-between border mb-2"
                        id="accord-@item.OrderItemId">
                        <div class="accordion mt-2 mb-2" id="item-accordian-1">
                            <div class="d-flex justify-content-center align-items-center    ">
                            <div class="d-flex align-items-center gap-2 drop-class" data-bs-toggle="collapse"
                                data-bs-target="#order-item-@item.ItemId" aria-expanded="false"
                                aria-controls="order-item-@item.ItemId">
                                <img src="~/images/dropdownimg.webp" alt="" height="23" class="icon-rotate opacity-50">
                            </div>
                                <span class="item-name-for-order item-wise-comment" data-orderid="@item.OrderItemId" >@item.ItemName</span>
                            </div>
                            <div id="order-item-@item.ItemId" class="p-0 ms-0 collapse" aria-labelledby="headingPizza"
                                data-bs-parent="#item-accordian-1">
                                @foreach (var modifier in item.modifiers)
                                {
                                    <ul class="ps-4 mb-0 mt-1 modifier-list-for-order" style="min-width: 90px;"
                                        id="modifier-list-for-order-1">
                                        <li>
                                            <div class="d-flex justify-content-between gap-2">
                                                <span>@modifier.ModifierName</span>
                                                <span>₹@modifier.price</span>
                                            </div>
                                        </li>

                                    </ul>
                                }
                            </div>
                        </div>
                        <div class="item-end-part-for-order">
                            <!-- Quantity Box -->
                            <div class="d-flex align-items-center justify-content-between px-2 py-0 gap-1 quantity-box">
                                <i class="bi bi-dash" onclick="MinusQuantity(@item.OrderItemId)"
                                    id="minus-quantity-@item.ItemId"></i>
                                <span class="quantity-box-display" id="item-quantity-@item.OrderItemId"
                                    data-itemid="@item.ItemId" data-itemname="@item.ItemName" data-itemprice="@item.price"
                                    data-ready-item="@item.Readyitem" data-modifiertotalprice="@item.TotalModifierAmount" >
                                    @item.Quantity
                                </span>
                                <i class="bi bi-plus" onclick="PlusQuantity(@item.OrderItemId)"
                                    id="minus-quantity-@item.ItemId"></i>
                            </div>
                            <!-- Price Details -->
                            <div class="d-flex flex-column align-items-start gap-1 item-sums">
                                <div class="d-flex align-items-center">₹
                                    <div class="item-amount" id="item-amount-@item.OrderItemId">@item.TotalAmount</div>
                                </div>
                                <div class="d-none">
                                    @{
                                        decimal modifiertotalamount = 0;
                                    }
                                    @foreach (var modifier in item.modifiers)
                                    {
                                        @item.TotalModifierAmount
                                        modifiertotalamount +=  @item.TotalModifierAmount;
                                    }
                                </div>
                                @if(modifiertotalamount != 0)
                                {
                                <div id="item-modifier-amount-@item.OrderItemId" class="modifier-amount">₹ @item.TotalModifierAmount</div>
                                }
                            </div>

                            <!-- Delete Icon -->
                            <div class="d-flex justify-content-center align-items-center delete-item"
                                data-global-id="@item.OrderItemId">
                                <i class="bi bi-trash fs-5"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



    <div class="d-flex justify-content-between p-2 mt-2">
        <span class="fw-bold" style="opacity: 0.8;">SubTotal</span>
        <span class="fw-bold" style="opacity: 0.8;" id="subtotalcontainer">₹00.00</span>
    </div>
    <div class="d-flex justify-content-between p-2 mt-2">
        <span class="fw-bold" style="opacity: 0.8;">Exclusive Tax</span>
        <span class="fw-bold" style="opacity: 0.8;" id="ExclusiveTaxcontainer">₹00.00</span>
    </div>
    @foreach (var tax in Model.orderTax)
    {
        <div class="d-flex justify-content-between px-2">
           <div class="fs-6">@tax.TaxName
                                (@(tax.TaxType == false ? "₹" : "")@tax.TaxRate@(tax.TaxType == true ? "%" : ""))</div>
                        <div class="fs-6">
                            <span id="tax-amount-@tax.TaxId">₹00.00</span>
            </div>
        </div>
    }
    <div class="d-flex justify-content-between p-2 mt-2">
        <span class="fw-bold" style="opacity: 0.8;">Total</span>
        <span class="fw-bold" style="opacity: 0.8;" id="totalamountcontainer">₹00.00</span>
    </div>

    <div class="d-flex justify-content-between p-2" >
        <span>Payment Mehod</span>
            <span class="form-check">
        <div class="d-flex gap-2" >
                <input class="form-check-input radio-btn paymenttype" type="radio" name="exampleRadios" id="exampleRadios1" value="Cash"
                 asp-for="@Model.PaymentStatus" >
                Cash
            </span>
            <span class="form-check">
                <input class="form-check-input radio-btn paymenttype" type="radio" name="exampleRadios" id="exampleRadios2" value="Card"  
                asp-for="@Model.PaymentStatus">
                Card
            </span>
            <span class="form-check">
                <input class="form-check-input radio-btn paymenttype" type="radio" name="exampleRadios" id="exampleRadios3" value="Upi"
                  asp-for="@Model.PaymentStatus">
                UPI
            </span>

    </div>
    </div>
    <div class="d-flex justify-content-end gap-3 mt-3">
        <button class="btn btn-primary  px-0 w-25" id="OrderSaveButton" type="button"
            style="background-color: rgb(0, 102, 187); color: white;" data-orderid="@Model.OrderId" data-customerid="@Model.CustomerId" data-orderstatus="@Model.OrderStatus" disabled>Save</button>
        <button type="button" class="btn btn-outline-primary  w-25 ordercompltebtn" type="button"
             data-bs-toggle="modal" data-bs-target="#completeModal">Complete</button>
        <button type="button" class="btn btn-outline-primary px-5 text-nowrap  w-20 GenerateInvoice" data-orderid="@Model.OrderId" type="button"
            >Generate Invoice</button>
    </div>
    <div class="d-flex justify-content-end gap-3 mt-3">
        <button type="button" class="btn btn-outline-primary  px-0  w-25 cancelbtn" type="button"
           data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel</button>
    </div>
</div>
</span>


