@{
    Layout = "~/Views/Shared/_OrderApp.cshtml";
    ViewData["Title"] = "Menu";
    ViewBag.Active = "Kot";
}
@model Pizzashop.DAL.ViewModels.OrderAppMenuviewmodel

<link rel="stylesheet" href="~/css/OrderAppMenu.css" asp-append-version="true" />

<input type="hidden" id="CustomerData" data-customerid="@Model.CustomerId">
<input type="hidden" id="OrderData" data-orderid="@Model.OrderId">

<body style="margin: 0;">
    <div class="d-flex m-0 pe-3">
        <div class="bg-white col-2 d-lg-block d-none p-0"
            style="position: sticky; top: 0; height: 100vh; overflow-y: auto;">
            <div class="fw-bold ps-3 pb-3 pt-3 fs-5">Category</div>
            <div class="aa">
                <a href="" class="sidebar-tile fs-6 tab-btn" id="favourite-items">
                    <div class="text-nowrap">Favourite Items</div>
                </a>
            </div>
            <div class="aa">
                <a class="sidebar-tile fs-6 tab-btn active-tab" id="AllItems" data-categoryid="0">
                    <div>All</div>
                </a>
            </div>
            <div class="categorydetails"></div>
        </div>

        <div class="row d-flex flex-column flex-lg-row w-100">
            <div class="@(Model.CustomerId !=0 || Model.OrderId !=0 ? "col-xxl-7 col-12" : "") p-3">
                <div
                    class="main-content d-flex flex-column flex-md-row align-items-center justify-content-between mt-3">
                    <div class="d-flex justify-content-center mb-3 align-items-center">
                        <button class="btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                            <img src="~/images/icons/menu-symbol.svg" style="height: 25px;" alt="">
                        </button>
                        <!-- Search Bar -->
                        <div class="d-flex justify-content-end position-relative align-items-center ps-2">
                            <input type="text" class="search form-control search-bar"
                                style="height: 60px; width: 270px !important;" id="MenuItemSearch"
                                placeholder="Search" />
                            <img src="~/images/icons/search.svg" alt="" style="width: 20px; aspect-ratio: 1"
                                class="bg-white position-absolute rounded-2 m-2" />
                        </div>
                    </div>

                    <!-- Legends -->
                    <div class="d-flex gap-3">
                        <div class="d-flex gap-2 align-items-center">
                            <span style="color: var(--table-vegetarian)"><i class="bi bi-circle-fill"></i></span>
                            <span>Vegetarian</span>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <span style="color: var(--table-nonvegetarian)"><i class="bi bi-circle-fill"></i></span>
                            <span>Non-Vegetarian</span>
                        </div>
                    </div>
                </div>

                <div class="mt-3 pb-5 ms-md-0 ms-5" id="ItemsContainer"
                    style=" height:800px !important; overflow-y:auto !important;">
                </div>
            </div>

            <div class="col-xxl-5 col-0">
                @if (Model.CustomerId != 0 || Model.OrderId != 0)
                {
                    <div id="OrderMenuData">
                    </div>
                }
            </div>
        </div>

        @if (Model.CustomerId != 0 || Model.OrderId != 0)
        {
            <div class="d-flex d-xxl-none d-block" id="order-offcanvas-btn-toggel">
                <div class=" d-flex align-items-center justify-content-center btn" style="height: 60px; width: 60px;  position: fixed; bottom: 50px;
                right: 50px; border:2px solid #1f73ae; background-color: #83b3d6; " data-bs-toggle="offcanvas"
                    data-bs-target="#billsection" id="btnForOrderBill" aria-controls="billsection">
                    <i class="bi bi-bell"></i>
                </div>
            </div>
        }

    </div>
</body>

<div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="fw-bold ps-3 pb-3 pt-3 fs-5">Category</div>
        <div class="aa">
            <a href="#" class="sidebar-tile fs-6 tab-btn" id="favourite-items">
                <div class="text-nowrap">Favourite Items</div>
            </a>
        </div>
        <div class="aa">
            <a href="#" class="sidebar-tile fs-6 tab-btn active-tab" id="AllItems" data-categoryid="0">
                <div>All</div>
            </a>
        </div>
        <div class="categorydetails tab-btn"></div>
    </div>
</div>

<div class="offcanvas offcanvas-end custom-offcanvas-width" tabindex="-1" id="billsection"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="order-offcanvas-body">
    </div>
</div>

<div id="ItemModalContent">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

@*Customer Details*@


<div class="modal fade" data-bs-backdrop="static" id="CustomerDetails" tabindex="-1"
    aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="customer-details">

        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="QrCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">QR CODE</h1>
                <button type="button" class="btn-close qrcodeclose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body qrcode-body">
                <div id="qrdetails">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary qrcodeclose">Done</button>
            </div>
        </div>
    </div>
</div>

@*Order Wise Comment*@
<div class="modal fade" data-bs-backdrop="static" id="OrderInstruction" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="OrderCommentData">

            </div>
        </div>
    </div>
</div>

@*Item Wise Comment*@

<div class="modal fade" data-bs-backdrop="static" id="ItemInstruction" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div id="ItemCommentData">

            </div>

        </div>
    </div>
</div>


@*Order Complete Modal*@

<div class="modal fade" data-bs-backdrop="static" id="completeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Complete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                <img class="" src="~/images/icons/exclamation-triangle.svg" alt="">
                <h1 class="fs-5">Are You Sure you want to Complete Order</h1>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="OrderCompleted" data-orderid="@Model.OrderId" type="submit" class="btn btn-primary"
                    data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>

</div>
@*Order Cancel Modal*@

<div class="modal fade" data-bs-backdrop="static" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                <img class="" src="~/images/icons/exclamation-triangle.svg" alt="">
                <h1 class="fs-5">Are You Sure you want to Cancel Order</h1>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="OrderCancelled" data-orderid="@Model.OrderId" type="submit" class="btn btn-primary"
                    data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@*Rating Modal*@
<div class="modal fade" data-bs-backdrop="static" id="OrderRattingModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Customer Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddCustomerRatting" asp-controller="OrderAppMenu" method="post">
                <div class="modal-body">
                    <input type="hidden" value="@Model.OrderId" asp-for="@Model.OrderId">
                    <input type="hidden" value="0" id="food-count" asp-for="@Model.FoodRating">
                    <input type="hidden" value="0" id="service-count" asp-for="@Model.ServiceRating">
                    <input type="hidden" value="0" id="ambiance-count" asp-for="@Model.AmbienceRating">
                    <div class="ratting_section mb-3">
                        <div class="d-flex flex-row justify-content-between align-items-center mb-1">
                            <div>Food</div>
                            <div>
                                <i class=" bi bi-star food text-warning me-1"></i>
                                <i class=" bi bi-star food text-warning me-1"></i>
                                <i class=" bi bi-star food text-warning me-1"></i>
                                <i class=" bi bi-star food text-warning me-1"></i>
                                <i class=" bi bi-star food text-warning me-1"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center mb-1">
                            <div>Service</div>
                            <div>
                                <i class=" bi bi-star service text-warning me-1"></i>
                                <i class=" bi bi-star service text-warning me-1"></i>
                                <i class=" bi bi-star service text-warning me-1"></i>
                                <i class=" bi bi-star service text-warning me-1"></i>
                                <i class=" bi bi-star service text-warning me-1"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center mb-1">
                            <div>Ambiance</div>
                            <div>
                                <i class="bi bi-star ambiance text-warning me-1"></i>
                                <i class="bi bi-star ambiance text-warning me-1"></i>
                                <i class="bi bi-star ambiance text-warning me-1"></i>
                                <i class="bi bi-star ambiance text-warning me-1"></i>
                                <i class="bi bi-star ambiance text-warning me-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Comment" id="floatingTextarea2"
                            style="height: 100px" asp-for="@Model.comments"></textarea>
                        <label for="floatingTextarea2">Comment</label>
                    </div>
                </div>
                <div class="modal-footer d-flex flex-row align-items-center justify-content-end">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <button type="submit" id="OrderRattingModalSubmit" class="btn btn-primary modal_submit_btn me-2"
                            data-orderid="@Model.OrderId">
                            Save
                        </button>
                        <button type="button" class="btn btn-outline-primary modal_close_btn" data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).off("click", "#btnForOrderBill").on("click", "#btnForOrderBill", function (event) {
            event.preventDefault();
            $("#order-offcanvas-body").html($("#bill-content").html());
            $("#bill-content").empty();
        })

        document.getElementById("billsection").addEventListener('hidden.bs.offcanvas', function (event) {
            event.preventDefault();
            $("#bill-content").html($("#order-offcanvas-body").html());
            $("#order-offcanvas-body").empty();
        })

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const categoryLinks = document.querySelectorAll(".offcanvas-body .tab-btn");

            categoryLinks.forEach(link => {
                link.addEventListener("click", function () {
                    const offcanvasElement = document.getElementById("offcanvasMenu");
                    const offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvasElement);

                    if (offcanvasInstance) {
                        offcanvasInstance.hide();
                    }
                });
            });
        });
    </script>

    <script>
        $(document).on("click", ".food", function () {
            console.log("hii");
            let index = $(this).index() + 1;
            $("#food-count").val(index);
            $(".food").each(function (i) {
                if (i < index) {
                    $(this).removeClass("bi-star").addClass("bi-star-fill");
                } else {
                    $(this).removeClass("bi-star-fill").addClass("bi-star");
                }
            })
        });
        $(document).on("click", ".service", function () {
            let index = $(this).index() + 1;
            $("#service-count").val(index);
            $(".service").each(function (i) {
                if (i < index) {
                    $(this).removeClass("bi-star").addClass("bi-star-fill");
                } else {
                    $(this).removeClass("bi-star-fill").addClass("bi-star");
                }
            })
        });
        $(document).on("click", ".ambiance", function () {
            let index = $(this).index() + 1;
            $("#ambiance-count").val(index);
            $(".ambiance").each(function (i) {
                if (i < index) {
                    $(this).removeClass("bi-star").addClass("bi-star-fill");
                } else {
                    $(this).removeClass("bi-star-fill").addClass("bi-star");
                }
            })
        });
    </script>

    <script>

        $(document).ready(function () {
            getCategories();
            GetItems(0);
        });


        // Fetch Categories
        function getCategories() {
            $.ajax({
                url: "/OrderAppMenu/GetCategories",
                type: "GET",
                success: function (data) {
                    $(".categorydetails").html(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching categories:", error);
                }
            });
        }
    </script>

    @*Fetch Items*@
    <script>

        //Fetch Category wise Items
        $(document).off("click", ".category-click").on("click", ".category-click", function () {
            var categoryid = $(this).data("categoryid");
            console.log("categoryid:", categoryid);
            document.querySelectorAll(".tab-btn").forEach(tab => {
                tab.classList.remove("active-tab");
            });
            $(this).addClass("active-tab");
            GetItems(categoryid);
        })

        $(document).on("input", "#MenuItemSearch", function () {
            var categoryid = $(".active-tab").data("categoryid");
            GetItems(categoryid);
        });


        $(document).on("click", "#AllItems", function () {
            GetItems(0);
            $(".tab-btn").removeClass("active-tab");
            $(this).addClass("active-tab");
        });

        function GetItems(categoryid) {
            let search = $("#MenuItemSearch").val();

            $.ajax({
                url: "/OrderAppMenu/GetItems",
                type: "GET",
                data: { Categoryid: categoryid, SearchKey: search },
                success: function (data) {
                    $("#ItemsContainer").html(data);
                    $("#MenuItemSearch").val();
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        } 
    </script>

    @*Favourite Category*@
    <script>

        $(document).on("click", "#favourite-items", function () {
            $(".tab-btn").removeClass("active-tab");
            $(this).addClass("active-tab");
        });

        $(document).on("click", "#favourite-items", function (e) {
            e.preventDefault();
            let search = $("#MenuItemSearch").val();
            favouriteitems(search);
        });

        function favouriteitems(search) {
            $.ajax({
                url: "/OrderAppMenu/GetFavouriteItems",
                type: "GET",
                data: { SearchKey: search },
                success: function (data) {
                    $("#ItemsContainer").html(data);
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }
    </script>

    @*Add to Favourites/Remove From Favourites*@
    <script>
        $(document).on("click", ".bi-heart", function () {
            $(this).addClass("bi-heart-fill");
            $(this).removeClass("bi-heart");

            let itemid = $(this).data("itemid");

            $.ajax({
                url: "/OrderAppMenu/UpdateFavourite",
                type: "POST",
                data: { itemid: itemid },
                success: function (data) {
                    toastr.success("Item added to favourites");
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });

        $(document).on("click", ".bi-heart-fill", function () {
            $(this).addClass("bi-heart");
            $(this).removeClass("bi-heart-fill");
            let itemid = $(this).data("itemid");

            $.ajax({
                url: "/OrderAppMenu/UpdateFavourite",
                type: "POST",
                data: { itemid: itemid },
                success: function (data) {
                    favouriteitems(" ");
                    console.log("Success:", data);
                    toastr.success("Item removed from favourites");
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    </script>

    <script>
        let min_max_modifiergroup = [];
        let selectedmodifier = {};
        let selected_items = [];
        var deletedOrderItemIds = [];
        var tax_data = [];
        var globalid = 0;

        $(document).ready(function () {
            let orderid = @Model.OrderId;
            if (orderid != 0) {
                var itemlist = @Html.Raw(Json.Serialize(Model.orderitems));
                for (let i = 0; i < itemlist.length; i++) {
                    var modifiersList = [];
                    for (let j = 0; j < itemlist[i].modifiers.length; j++) {
                        modifiersList.push({
                            modifierId: itemlist[i].modifiers[j].modifierId,
                            modifierName: itemlist[i].modifiers[j].modifierName,
                            price: itemlist[i].modifiers[j].price,
                            quantity: itemlist[i].modifiers[j].quantity,
                        });
                    }
                    selected_items.push({
                        itemId: itemlist[i].itemId,
                        itemName: itemlist[i].itemName,
                        itemTax: itemlist[i].itemTax,
                        orderItemId: itemlist[i].orderItemId,
                        globalId: itemlist[i].orderItemId,
                        price: itemlist[i].price,
                        quantity: itemlist[i].quantity,
                        modifiers: modifiersList,
                    });
                    globalid = globalid < itemlist[i].orderItemId ? itemlist[i].orderItemId : globali

                }
                var taxlist = @Html.Raw(Json.Serialize(Model.orderTax));

                for (let i = 0; i < taxlist.length; i++) {
                    tax_data.push({
                        taxId: taxlist[i].taxId,
                        taxName: taxlist[i].taxName,
                        taxType: taxlist[i].taxType,
                        taxRate: taxlist[i].taxRate
                    });
                }
            }
            getSubTotal();
        });


        $(document).off("click", ".item-modifeir-class").on("click", ".item-modifeir-class", function () {
            var itemid = $(this).data("itemid");
            var itemname = $(this).data("itemname");
            var itemprice = $(this).data("itemprice");
            let totalmodifierprice = $(this).data("modfierTotalAmount");
            var itemTax = $(this).data("itemtax");
            var clickedElement = $(this);

            $.ajax({
                url: "/OrderAppMenu/GetModalData",
                type: "GET",
                data: { ItemId: itemid },
                success: function (data) {
                    if (data.success !== false) {
                        $("#ItemModalContent").html(data);
                        $("#ItemModifierGroupModal").modal("show");

                        min_max_modifiergroup = [];
                        selectedmodifier = {};
                        $(".min_max").each(function () {
                            let modifierGroupId = $(this).data("modifiergroupid");
                            let minValue = $(this).data("minvalue");
                            let maxValue = $(this).data("maxvalue");

                            min_max_modifiergroup.push({
                                ModifierGroupId: modifierGroupId,
                                Min: minValue,
                                Max: maxValue
                            });
                        });

                        console.log("min_max_modifiergroup:", min_max_modifiergroup);
                    } else {
                        let exist_item = selected_items.find(item => item.itemId === itemid)
                        console.log("existing item:", exist_item);

                        if (!exist_item) {
                            selected_items.push({
                                itemId: itemid,
                                itemName: itemname,
                                itemTax: itemTax,
                                orderItemId: 0,
                                globalId: globalid + 1,
                                price: itemprice,
                                quantity: 1,
                                modifiers: []
                            });
                            globalid += 1;
                            getSubTotal();
                        }
                        else {
                            exist_item.quantity = exist_item.quantity + 1;
                            $(`#item-quantity-${exist_item.globalId}`).text(exist_item.quantity);
                            $(`#item-amount-${exist_item.globalId}`).text((exist_item.price * exist_item.quantity).toFixed(2));
                            getSubTotal();
                            return;
                        }


                        let itemaccordian =
                            `
                                                                  <div class="item-row w-100 py-1 px-2 d-flex align-items-center justify-content-between border mt-2 mb-2" id="accord-${globalid}">
                                                            <div class="accordion mt-2 mb-2" id="item-accordian-1">
                                                        <div class="d-flex align-items-center gap-2 drop-class" data-bs-toggle="collapse" data-bs-target="#order-item-${globalid}" aria-expanded="false" aria-controls="order-item-${globalid}">
                                                        <img src="~/images/dropdownimg.webp" alt="" height="23" class="icon-rotate opacity-50">
                                                        <span class="item-name-for-order">${itemname}</span>
                                                        </div>
                                                        <div id="order-item-${globalid}" class="p-0 ms-0 collapse" aria-labelledby="headingPizza" data-bs-parent="#item-accordian-1">

                                                        </div>
                                                    </div>
                                                    <div class="item-end-part-for-order">
                                                    <!-- Quantity Box -->
                                                                <div class="d-flex align-items-center justify-content-between px-2 py-0 gap-1 quantity-box">
                                                                <i class="bi bi-dash" onclick="MinusQuantity(${globalid})" id="minus-quantity-${globalid}" ></i>
                                                                <span class="quantity-box-display" id="item-quantity-${globalid}" data-itemid=${globalid}
                                                             data-itemname=${itemname} data-itemprice=${itemprice} data-modifiertotalprice = ${totalmodifierprice}>
                                                                1
                                                                </span>
                                                                <i class="bi bi-plus" onclick="PlusQuantity(${globalid})" id="minus-quantity-${globalid}"></i>
                                                                </div>
                                                                <!-- Price Details -->
                                                                <div class="d-flex flex-column align-items-start gap-1 item-sums">
                                                                <div class="d-flex align-items-center">₹<div class="item-amount" id="item-amount-${globalid}">${itemprice}</div></div>
                                                                </div>
                                                                <!-- Delete Icon -->
                                                                <div class="d-flex justify-content-center align-items-center delete-item" data-global-id="${globalid}">
                                                                <i class="bi bi-trash fs-5"></i>
                                                                </div>
                                                        </div>
                                                        </div>
                                                                `;

                        $("#itemdata").append(itemaccordian);

                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching item modifier group:", error);
                }
            });
        });
    </script>

    <script>
        let initial_selected_items = [];
        $(document).ready(function () {
            initial_selected_items = JSON.parse(JSON.stringify(selected_items));
        });
        function updatesavebutton() {
            if (JSON.stringify(initial_selected_items) !== JSON.stringify(selected_items)) {
                $("#OrderSaveButton").prop('disabled', false);
            } else {
                $("#OrderSaveButton").prop('disabled', true);
            }
        }
        $(document).on("click", ".paymenttype", function () {

            if ($(this).val() == @Html.Raw(Json.Serialize(Model.PaymentStatus))) {
                $("#OrderSaveButton").prop('disabled', true);
            }
            else {
                $("#OrderSaveButton").prop('disabled', false);
            }
        });
    </script>

    @*Item + and -*@
    <script>
        function MinusQuantity(uniqueid) {
            let quantityElement = $(`#item-quantity-${uniqueid}`);
            let ItemQuantity = parseInt(quantityElement.text());
            let Itemid = $(quantityElement).data("itemid");
            let itemprice = $(quantityElement).data("itemprice");

            if (ItemQuantity === 1) {
                return;
            }

            let exist_item = selected_items.find(item => item.globalId === uniqueid);
            console.log("exist", exist_item);
            let modifiertotalprice = $(quantityElement).data("modifiertotalprice");
            console.log("modifiertotalprice", modifiertotalprice);
            ItemQuantity = ItemQuantity - 1;
            console.log(ItemQuantity);

            if (exist_item.orderItemId != 0) {
                let readyquantity = $(quantityElement).data("readyItem");
                if (readyquantity > ItemQuantity) {
                    toastr.error(`Cannot decrease the item beacuse ${readyquantity} items are ready`);
                    return;
                }
            }
            exist_item.quantity = ItemQuantity;
            $(`#item-amount-${uniqueid}`).text((ItemQuantity * itemprice).toFixed(2));

            modifiertotalprice = 0;
            if (exist_item.modifiers && Array.isArray(exist_item.modifiers)) {
                exist_item.modifiers.forEach(mod => {
                    modifiertotalprice += parseFloat(mod.price || 0);
                });
            }

            console.log("prices:", ItemQuantity * modifiertotalprice);
            $(`#item-modifier-amount-${uniqueid}`).text((ItemQuantity * modifiertotalprice).toFixed(2));
            quantityElement.text(ItemQuantity);

            getSubTotal();
        }


        function PlusQuantity(uniqueid) {
            let Quantity = $(`#item-quantity-${uniqueid}`);
            console.log("quant:", Quantity);
            let ItemQuantity = parseInt(Quantity.text());
            ItemQuantity = ItemQuantity + 1;
            console.log("itemquant:", ItemQuantity);

            let exist_item = selected_items.find(item => item.globalId === uniqueid);
            console.log("exist_item:", exist_item);

            let modifiertotalprice = $(Quantity).data("modifiertotalprice")
            exist_item.quantity = ItemQuantity;
            let Itemid = $(Quantity).data("itemid");

            $(`#item-amount-${uniqueid}`).text((ItemQuantity * exist_item.price).toFixed(2));

            modifiertotalprice = 0;
            if (exist_item.modifiers && Array.isArray(exist_item.modifiers)) {
                exist_item.modifiers.forEach(mod => {
                    modifiertotalprice += parseFloat(mod.price || 0);
                });
            }

            console.log("prices:", ItemQuantity * modifiertotalprice);
            $(`#item-modifier-amount-${uniqueid}`).text((ItemQuantity * modifiertotalprice).toFixed(2));
            Quantity.text(ItemQuantity);
            getSubTotal();
        }

        $(document).off("click", ".delete-item").on("click", ".delete-item", function () {
            var uniqueid = $(this).data("globalId");
            console.log("uniqueid:", uniqueid);
            let quantityElement = $(`#item-quantity-${uniqueid}`);
            console.log("quant:", quantityElement);
            let exist_item = selected_items.find(item => item.globalId === uniqueid);
            console.log("existitem:", exist_item);
            let OrderItemId = 0;

            if (exist_item.orderItemId != 0) {
                let readyquantity = $(quantityElement).data("readyItem");
                if (readyquantity != 0) {
                    toastr.error(`Cannot delete the item beacuse ${readyquantity} items are ready`);
                    return;
                }
                OrderItemId = exist_item.orderItemId;
                selected_items = selected_items.filter(item => item.globalId != uniqueid);
                deletedOrderItemIds.push(OrderItemId);
                $(`#accord-${uniqueid}`).remove();
                getSubTotal();
                return;
            }

            selected_items = selected_items.filter(item => item.globalId != uniqueid);
            $(`#accord-${uniqueid}`).remove();
            getSubTotal();

        });

    </script>

    @*Add selected class to card*@
    <script>
        var selectedmodifiers = {};

        $(document).off("click", ".item-modifeir-card").on("click", ".item-modifeir-card", function () {
            var modifierGroupId = $(this).data("modifiergroupid");
            var modifierId = $(this).data("modifierid");

            var current_min_max = min_max_modifiergroup.find(u => u.ModifierGroupId == modifierGroupId);
            console.log("current_min_max:", current_min_max);

            if (!selectedmodifiers[modifierGroupId]) {
                selectedmodifiers[modifierGroupId] = [];
            }
            console.log("selectedmodifiers:", selectedmodifiers);

            let selected_list = selectedmodifiers[modifierGroupId];
            let index = selected_list.indexOf(modifierId);

            console.log("selected_list:", selected_list);
            console.log("index:", index);

            if (index > -1) {
                selected_list.splice(index, 1);
                $(this).removeClass("cardSelected");
                console.log("Modifier removed");
            }
            else {
                if (selected_list.length < current_min_max.Max) {
                    selected_list.push(modifierId);
                    $(this).addClass("cardSelected");
                    console.log("Modifier added");
                } else {
                    let name = $(`#modifier-name-${modifierGroupId}`).text();
                    toastr.error("You can select a maximum of " + current_min_max.Max + " " + "from" + " " + name);
                }
            }
        });
    </script>

    @*Get Order Data*@

    <script>
        $(document).ready(function () {
            var orderId = $("#OrderData").data("orderid");
            console.log("Order ID:", orderId);

            if (orderId != 0) {
                $.ajax({
                    url: "/OrderAppMenu/GetOrderData",
                    type: "GET",
                    data: { OrderId: orderId },
                    success: function (data) {
                        $("#OrderMenuData").html(data);
                        getSubTotal();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching order data:", error);
                    }
                });
            }
        });
    </script>

    @*Customer Details*@
    <script>
        $(document).on("click", ".CustomerIcon", function () {
            var orderId = $(this).data("orderid");
            console.log("Order ID:", orderId);

            $.ajax({
                url: "/OrderAppMenu/GetCustomerDetails",
                type: "GET",
                data: { OrderId: orderId },
                success: function (data) {
                    $("#customer-details").html(data);
                    var modal = new bootstrap.Modal(document.getElementById('CustomerDetails'));
                    modal.show();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching customer details:", error);
                }
            });

        });

        $(document).off("submit", "#SaveCustomerDetails").on("submit", "#SaveCustomerDetails", function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: "/OrderAppMenu/SaveCustomerDetails",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastr.success("Customer details saved successfully");
                    $("#CustomerDetails").modal("hide");
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });

    </script>

    @*Qr Code *@

    <script>
        $(document).off("click", ".qrcodeclose").on("click", ".qrcodeclose", function (e) {
            e.preventDefault();
            $("#qrdetails").empty();
            $('#QrCodeModal').modal('hide');
        })
    </script>

    <script>
        $(document).ready(function () {
            $(document).on("click", "#qrcode", function () {

                var customerid = $(this).data("customerid");
                var orderid = $(this).data("orderid");

                $('#QrCodeModal').modal('show');

                var qrcode = new QRCode("qrdetails", {
                    text: `http://localhost:5167/OrderAppMenu/OrderMenu?customerId=${customerid}&orderId=${orderid}`,
                    width: 1028,
                    height: 1028,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });
            });
        });
    </script>

    @*Order Wise Comment*@

    <script>
        $(document).off("click", ".ordermodalclose").on("click", ".ordermodalclose", function () {
            $("#OrderInstruction").modal("hide");
        });
        $(document).off("click", ".ordercomment").on("click", ".ordercomment", function () {
            var orderId = $(this).data("orderid");

            $.ajax({
                url: "/OrderAppMenu/GetOrderComments",
                type: "GET",
                data: { OrderId: orderId },
                success: function (data) {
                    $("#OrderCommentData").html(data);
                    var modal = new bootstrap.Modal(document.getElementById('OrderInstruction'));
                    modal.show();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching order comment:", error);
                }
            });
        });

        $(document).off("submit", "#OrderCommentModal").on("submit", "#OrderCommentModal", function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: "/OrderAppMenu/PostComment",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastr.success("Comment Added successfully!");
                    $("#OrderInstruction").modal("hide");
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });

        });

    </script>

    @*Get Items in Order Card*@

    <script>
        let selectedModifiersItems = [];
        $(document).off("click", "#ItemModifierGroupModalModalSubmit").on("click", "#ItemModifierGroupModalModalSubmit", function () {

            for (let i = 0; i < min_max_modifiergroup.length; i++) {
                let modifierGroupId = min_max_modifiergroup[i].ModifierGroupId;
                if (!selectedmodifiers[modifierGroupId]) {
                    selectedmodifiers[modifierGroupId] = [];
                }
                let selected_list = selectedmodifiers[modifierGroupId];
                console.log("selected_list:", selected_list);
                console.log("modifierGroupId", modifierGroupId);
                if (selected_list.length < min_max_modifiergroup[i].Min) {
                    let name = $(`#modifier-name-${modifierGroupId}`).text();
                    toastr.error("You must select a minimum " + min_max_modifiergroup[i].Min + " " + "from" + " " + name);
                    return;
                }

            }
            let TotalModifierPrice = 0;

            $(".item-modifeir-card.cardSelected").each(function () {
                let price = parseFloat($(this).data("modifierprice"));

                selectedModifiersItems.push({
                    ModifierId: $(this).data("modifierid"),
                    ModifierName: $(this).data("modifiername"),
                    price: price,
                    quantity: 1
                });

                if (!isNaN(price)) {
                    TotalModifierPrice += price;
                }
            });

            var ItemId = $(this).data("itemid");
            var itemname = $(this).data("itemname");
            var itemTax = $(this).data("itemtax");
            var itemprice = $(`#item-price-${ItemId}`).text();
            var price = parseFloat(itemprice.replace('₹', '').trim());
            var formattedPrice = price.toFixed(2);
            console.log(formattedPrice);
            console.log("pricemodif:", price);

            var itemQuantity = 1;

            var totalamount = price * itemQuantity;

            selected_items.push({
                itemId: ItemId,
                itemName: itemname,
                itemTax: itemTax,
                orderItemId: 0,
                globalId: globalid + 1,
                price: price,
                quantity: itemQuantity,
                modifiers: selectedModifiersItems,
            });
            globalid += 1;


            let dataToSend = {
                ItemId: ItemId,
                ItemName: itemname,
                OrderItemId: globalid,
                Readyitem: 0,
                price: price,
                Quantity: itemQuantity,
                TotalAmount: totalamount,
                modifiers: selectedModifiersItems,
                TotalModifierAmount: TotalModifierPrice
            };
            let saveorderitem = [];
            saveorderitem.push(dataToSend);

            getSubTotal();
            let OrderItem = JSON.stringify(saveorderitem);

            $.ajax({
                url: "/OrderAppMenu/AppendOrderItems",
                type: "POST",
                data: { OrderItem: OrderItem },
                success: function (data) {
                    $("#itemdata").append(data);
                    selectedModifiersItems = [];
                    $("#ItemModifierGroupModal").modal("hide");
                },
                error: function (xhr, status, error) {
                    console.error("Error adding item:", error);
                }
            });
        });
    </script>

    @*Get SubTotal*@
    <script>
        function getSubTotal() {
            let taxperitem = 0;
            let subtotal = 0;
            let total;

            updatesavebutton();

            if (selected_items.length != 0) {
                selected_items.forEach(item => {
                    let itemtotal = parseFloat(item.price || 0);
                    itemtotal = itemtotal * item.quantity;
                    item.modifiers.forEach(modifier => {
                        itemtotal += parseFloat(modifier.price * item.quantity || 0);
                    });
                    let totalitemamount = parseFloat(item.price || 0) * item.quantity;
                    console.log("itemtotals:", totalitemamount);
                    taxperitem += (totalitemamount * parseFloat(item.itemTax || 0)) / 100;
                    subtotal += itemtotal;
                });
                $("#subtotalcontainer").html(subtotal.toFixed(2));
                $("#ExclusiveTaxcontainer").html(taxperitem.toFixed(2));
                total = subtotal + taxperitem;

                tax_data.forEach(tax => {
                    let taxprice = 0;
                    console.log("texttype:", tax.taxType);
                    if (tax.taxType == true) {
                        taxprice = subtotal * parseFloat(tax.taxRate) / 100;
                        console.log(taxprice);
                    }
                    else {
                        taxprice = parseFloat(tax.taxRate);
                    }
                    total += taxprice;
                    $(`#tax-amount-${tax.taxId}`).text(taxprice.toFixed(2));
                })
                $("#totalamountcontainer").text(total.toFixed(2));
            }
            else {
                $("#subtotalcontainer").text("00.00");
                $("#ExclusiveTaxcontainer").text("00.00");;
                tax_data.forEach(tax => {
                    $(`#tax-amount-${tax.taxId}`).text("00.00");
                });
                $("#totalamountcontainer").text("00.00");
            }
        }
    </script>

    @*Save Order*@

    <script>
        $(document).off("click", "#OrderSaveButton").on("click", "#OrderSaveButton", function () {
            var orderid = $(this).data("orderid");
            console.log("orderid", orderid);
            var orderstatus = $(this).data("orderstatus");
            console.log("orderstatus", orderstatus);
            var customerid = $(this).data("customerid");
            console.log("customerid", customerid);
            var payemntmode = $(".paymenttype:checked").val();
            console.log("paymentmode:", payemntmode);

            var formdata = new FormData();

            formdata.append("order_id", JSON.stringify(orderid));
            formdata.append("order_status", JSON.stringify(orderstatus));
            formdata.append("selected_items", JSON.stringify(selected_items));
            formdata.append("delete_item", JSON.stringify(deletedOrderItemIds));
            formdata.append("tax_data", JSON.stringify(tax_data));
            formdata.append("payment_type", JSON.stringify(payemntmode));

            console.log("formdata", formdata);

            $.ajax({
                type: "Post",
                url: "/OrderAppMenu/SaveOrder",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastr.success("Order Placed Succesfully");
                    setTimeout(function () {
                        window.location.href = data.url;
                    }, 1000); 

                },
                error: function (data) {
                    toastr.error("An Error Occured!");
                }
            });

        });
    </script>

    @*Complete Order*@

    <script>
        $(document).off("click", "#OrderCompleted").on("click", "#OrderCompleted", function () {

            var orderid = $(this).data("orderid");
            console.log("orderid", orderid);

            $.ajax({
                type: "Get",
                url: "/OrderAppMenu/CheckReadyQuantity",
                data: { orderId: orderid },
                success: function (data) {
                    if (data.success == false) {
                        toastr.error("Items Not Ready");
                        $("#completeModal").hide();
                    }
                    else {
                        $.ajax({
                            type: "Post",
                            url: "/OrderAppMenu/CompleteOrder",
                            data: { orderId: orderid },
                            success: function (data) {
                                if (data.success == true) {
                                    var modal = new bootstrap.Modal(document.getElementById('OrderRattingModal'));
                                    modal.show();
                                    $("#completeModal").hide();
                                }
                            },
                            error: function (data) {
                                toastr.error("An Error Occured!");
                            }
                        });
                    }
                },
                error: function () {
                    toastr.error("An Error Occurred while checking ready quantity!");
                }
            });

        })
    </script>

    <script>
        $(document).off("click", "#OrderCancelled").on("click", "#OrderCancelled", function () {

            var orderid = $(this).data("orderid");
            console.log("orderid", orderid);

            $.ajax({
                type: "Get",
                url: "/OrderAppMenu/CheckReadyQuantityForCancel",
                data: { orderId: orderid },
                success: function (data) {
                    if (data.success == false) {
                        toastr.error("Items Already Ready");
                        $("#cancelModal").hide();
                    }
                    else {
                        $.ajax({
                            type: "Post",
                            url: "/OrderAppMenu/CancelOrder",
                            data: { orderId: orderid },
                            success: function (data) {
                                if (data.success == true) {
                                    toastr.success("Order Cancelled Succesfully!");
                                    $("#cancelModal").hide();
                                    window.location.href = "/OrderAppMenu/OrderMenu";
                                }
                            },
                            error: function (data) {
                                toastr.error("An Error Occured!");
                            }
                        });
                    }
                },
                error: function () {
                    toastr.error("An Error Occurred while checking ready quantity!");
                }
            });

        })
    </script>

    @*Item Wise Comment*@

    <script>
        $(document).off("click", ".itemmodalclose").on("click", ".itemmodalclose", function () {
        @* var modal = new bootstrap.Modal(document.getElementById('ItemInstruction'));
            modal.hide(); *@
                const modalElement = document.getElementById('ItemInstruction');
            const modalInstance = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement);
            modalInstance.hide();
        });

        $(document).off("click", ".item-wise-comment").on("click", ".item-wise-comment", function () {
        @* var modal = new bootstrap.Modal(document.getElementById('ItemInstruction'));
            modal.show(); *@
        @* const modalElement = document.getElementById('ItemInstruction');
            const modalInstance = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement);
            modalInstance.show();  *@

                var orderid = $(this).data("orderid");
            console.log("orderid", orderid);

            $.ajax({
                url: "/OrderAppMenu/GetItemComments",
                type: "GET",
                data: { OrderId: orderid },
                success: function (data) {
                    $("#ItemCommentData").html(data);
        @* var modal = new bootstrap.Modal(document.getElementById('ItemInstruction'));
                    modal.hide(); *@
                        const modalElement = document.getElementById('ItemInstruction');
                    const modalInstance = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement);
                    modalInstance.show();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching order comment:", error);
                }
            });
        });

        $(document).off("submit", "#itemcommentmodal").on("submit", "#itemcommentmodal", function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: "/OrderAppMenu/PostItemComment",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastr.success("Comment Added successfully!");
                    const modalElement = document.getElementById('ItemInstruction');
                    const modalInstance = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement);
                    modalInstance.hide();
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });

        });
    </script>

    @*Generate Invoice*@

    <script>

        $(document).off('click', '.GenerateInvoice').on('click', '.GenerateInvoice', function () {
            var orderid = $(this).data("orderid");
            console.log("orderid:", orderid);
            Generateinvoice(orderid);
        });

        function Generateinvoice(orderid) {
            $.ajax({
                url: '@Url.Action("Invoice", "Order")',
                type: "GET",
                data: { orderId: orderid },
                success: function (response) {
                    var tempDiv = $("<div>").css({
                        "position": "absolute",
                        "left": "-9999px",
                        "top": "-9999px",
                        "width": "1000px",
                        "height": "auto",
                        "background": "white",
                        "z-index": "-1"
                    }).html(response).appendTo("body");

                    setTimeout(function () {
                        html2canvas(tempDiv[0], { scale: 2, useCORS: true }).then(function (canvas) {
                            var imgData = canvas.toDataURL("image/png");
                            var { jsPDF } = window.jspdf;
                            var pdf = new jsPDF("p", "mm", "a4");
                            var imgWidth = 210;
                            var imgHeight = (canvas.height * imgWidth) / canvas.width;
                            pdf.addImage(imgData, "PNG", 0, 0, imgWidth, imgHeight);
                            pdf.save("invoice_" + orderid + ".pdf");
                            tempDiv.remove();
                        }).catch(function (error) {
                            console.error("Error rendering canvas:", error);
                            toastr.error("Error generating PDF. Please try again.");
                            tempDiv.remove();
                        });
                    }, 10);
                },
                error: function (xhr, status, error) {
                    console.log("error", error);
                }
            });

        }

    </script>

}

<script>
    $(document).ready(function () {

    @if (TempData["SuccessCustomerRating"] != null)
    {
        <text>
                    showToastrNotification('success', '@TempData["SuccessCustomerRating"]');
        </text>
    }
    @if (TempData["FailedCustomerRating"] != null)
    {
        <text>
                    showToastrNotification('error', '@TempData["FailedCustomerRating"]');
        </text>
    }

        });
</script>


<style>
    .qrcode-body img {
        height: 150px;
        margin-bottom: 15px;
        margin-left: 150px;
    }
</style>
