@model Pizzashop.DAL.ViewModels.EditTableviewmodel

<form method="post" asp-controller="Table" asp-action="EditTable" class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="row mb-3">
                <div class="col">
                  <div class="form-floating">
                    <input type="hidden" asp-for = "@Model.Tableid" >
                    @* <input type="hidden" > *@
                    <input type="text" class="form-control" asp-for = "@Model.TableName" id="tableName" placeholder="Enter table name" required>
                    <label for="tableName">Name</label>
                     <span asp-validation-for="@Model.TableName" class="text-danger"></span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="categorySelect" asp-for="@Model.Sectionid" aria-label="Floating label select example" required>
                      <option value="">Select Section</option>
                       @foreach (var s in Model.sections) {
                       <option value="@s.Sectionid">@s.SectionName</option> 
                       } 
                    </select>
                    <label for="categorySelect">Section</label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="form-floating">
                    <input type="number" asp-for="@Model.Capacity" class="form-control" id="capacityInput" placeholder="Enter capacity" required>
                    <label for="capacityInput">Capacity</label>
                     <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="statusSelect" asp-for = "@Model.Isavailable" aria-label="Floating label select example" required>
                      <option value="">Select Status</option>
                       <option value="true">Available</option> 
                       <option value="false">Reserved</option> 
                    </select>
                    <label for="statusSelect">Status</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
</form>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>