@model Pizzashop.DAL.ViewModels.CustomerHistoryviewmodel



<div class="modal-header">
        <h5 class="modal-title" id="customerHistoryModalLabel">Customer History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row border ms-1 me-1 pt-2 bg-light">
          <div class="col-lg-6">
            <p class="border p-2 bg-white" ><strong>Name:</strong> @Model.CustomerName </p>
            <p class="border p-2 bg-white" ><strong>Mobile Number:</strong> @Model.Phonenumber </span></p>
            <p class="border p-2 bg-white" ><strong>Max Order:</strong> @Model.maxOrder</span></p>
          </div>
          <div class="col-lg-6">
            <p class="border p-2 bg-white" ><strong>Average Bill:</strong>@Model.avgBill </span></p>
            <p class="border p-2 bg-white" ><strong>Coming Since:</strong> @Model.comingsince </span></p>
            <p class="border p-2 bg-white" ><strong>Visits:</strong>@Model.totalvisits</span></p>
          </div>
        </div>
      </div>


      <div class="table-responsive ps-2 pe-2 ms-3 me-3 border mb-4 bg-light" >
        <table class="table table-hover">
                       <thead>
                         <tr style="opacity: 0.8;" >
                           <th>Order Date</th>
                           <th>Order Type</th>
                           <th>Payment</th>
                           <th>Items</th>
                           <th>Total Amount</th>
                         </tr>
                       </thead>
                       <tbody>
                          @foreach(var order in Model.OrderList)
                          {
                          <tr>
                            <td class="text-nowrap" >@order.OrderDate.ToString("dd-MM-yyyy")</td>
                            <td>@order.OrderType</td>
                            <td>@order.paymentmode</td>
                            <td>@order.totalitems</td>
                            <td>@order.totalamount</td>
                          </tr>
                          }
                       </tbody>
      </table>
      </div>

 